<div class="content">
  <h3 id='title'>Flows</h3>

<div class="ui relaxed celled list">
  {{#each content as |flow|}}
  <div class="item">
    <div class="right floated content">
      <button class="ui small labeled icon button" {{action 'pause' flow}}>
        <i class="pause icon"></i>
        Pause
      </button>
      <button class="ui small negative labeled button" {{action 'delete' flow}}>
        Delete
      </button>
    </div>
    <i class="large github middle aligned icon"></i>
    <div class="content">
      {{#link-to 'flow' flow class="header"}} {{flow.name}} {{/link-to}}
      <div class="description">{{flow.description}}</div>
    </div>
  </div>
  {{/each}}
</div>
<form class="ui form">
  <div class="field">
    <div class="field">
      <input type="file" name="file" placeholder="flow file">
    </div>
  </div>
  <div class="ui button" tabindex="0" {{action 'create'}}>Create Flow</div>
</form>
</div>
