<div class="content">
  <div class="ui four cards">
    {{#each-in content as |name node|}}
    <div class="card">
      <div class="content">
        <div class="header">{{#link-to 'node' node}} {{node.name}}{{/link-to}}</div>
        <div class="meta">
          <span class="right floated time">{{node.CreateIndex}} : {{node.ModifyIndex}}</span>
          <span class="category">{{node.ServiceAddress}} : {{node.ServicePort}}</span>
        </div>
        <div class="description">
            {{#each-in node.steps as |name step|}}
            <div class="ui list">
              <div class="item">{{name}}</div>
            </div>
            {{/each-in}}
        </div>
      </div>
    </div>
    {{/each-in}}
  </div>
</div>
