<h3 id='title'>State</h3>

<table class="ui celled striped table">
  <tbody>
    <tr>
      <td>Name</td>
      <td>{{content.name}}</td>
    </tr>
    <tr>
      <td>Platform</td>
      <td>{{content.platform}}</td>
    </tr>
    <tr>
      <td>Running since</td>
      <td>{{duration content.uptime}}</td>
    </tr>
    <tr>
      <td>Node Version</td>
      <td>{{content.versions.node}}</td>
    </tr>
    <tr>
      <td>RSS</td>
      <td>{{content.memory.rss}}</td>
    </tr>
    <tr>
      <td>Heap Total</td>
      <td>{{content.memory.heapTotal}}</td>
    </tr>
    <tr>
      <td>Heap Used</td>
      <td>{{content.memory.heapUsed}}</td>
    </tr>
    <tr>
      <td>Connected</td>
      <td>{{#if content.connected}}<i class="large green checkmark icon"></i>{{else}}<i class="large red attention icon"></i>{{/if}}</td>
    </tr>
  </tbody>
</table>
