<h3 id='title'>State</h3>

<table class="ui table">
  <tbody>
    <tr>
      <td>platform</td>
      <td>{{content.platform}}</td>
    </tr>
    <tr>
      <td>uptime</td>
      <td>{{duration content.uptime}}</td>
    </tr>
    <tr>
      <td>node version</td>
      <td>{{content.versions.node}}</td>
    </tr>
    <tr>
      <td>rss</td>
      <td>{{content.memory.rss}}</td>
    </tr>
    <tr>
      <td>heapTotal</td>
      <td>{{content.memory.heapTotal}}</td>
    </tr>
    <tr>
      <td>heapUsed</td>
      <td>{{content.memory.heapUsed}}</td>
    </tr>
  </tbody>
</table>
